.disabled {
    opacity: 0.25;
}

#itemsHeader {
    height: auto;
    margin: 0px 0px 20px 0px;
    background: rgba(0, 0, 0, 0.6);
}

#itemsHeader .itemName {
    color: #ffffff;
    font-size: 18px;
    font-family: KoreanFont,georgia,serif;
    text-transform: uppercase;
}

#fullItemRecipeItems {
    float: right;
}

#fullItemRecipeItemsTitle {
    float: left;
    padding-top: 12px;
    font-size: 12px;
    color: #cfcfcf;
    margin-right: 10px;
}

.floatRecipeImage {
    float: left;
    width: 49px;
    height: 37px;
    margin-right: 5px;
}

.largeItemImg {
    width: 182px;
    height: 140px;
    border: solid #242424 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 15px auto 15px auto;
}


.goldIcon {
    float: left;
    margin: 0 4px 0 0;
}

.goldCost {
    font-weight: bold;
    color: #f5c433;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.shopColumn {
    float: left;
    width: 70px;
    padding: 0;
    margin-right: 10px;
}

.shopColumnHeaderImg {
    margin: 0 0 10px 10px;
}

.floatItemImage {
    float: left;
    width: 70px;
    height: 53px;
    margin-bottom: 5px;
}



