@import "compass";
@import "variables";

body {
    background: url(../images/bg.jpg) no-repeat center top fixed;
}

.wrapper {
    background-color:rgba(0,0,0,0.2);
    border: 1px solid $gray-darker;
    padding: 15px;
}

footer {
    background-color:rgba(0,0,0,0.6);
    border: 1px solid $gray-dark;
    margin-top: 0;
    padding: 0px 0 30px 0;
}

.topmargin {
    margin-top: 15px;
}

/* MEZZANINE FIXES */

.tree .active > a {
    background-color: $gray;
}


