<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} itemscope itemtype="http://schema.org/WebPage">
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}Dotafarm, Dota Farm, Dota, Dota 2, Dota Guides, Dota News{% endblock %}">
<meta name="description" content="{% block meta_description %} {% trans "DotaFarm: Entertainment community site for Dota 2 fans" %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "theme/images/favicon.ico" %}">

<meta itemprop="image" content="http://dotafarm.com/static/media/uploads/title.jpg">


{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<!--<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">-->
<!--<link rel="stylesheet" href="{% static 'scss/bootstrap.scss' %}" media="screen, projection" type="text/x-scss" />-->
<link rel="stylesheet" href="{% static 'theme/less/bootstrap.less' %}" media="screen, projection" type="text/less" />
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<!--<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">-->
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
<!-- THEME -->
<link rel="stylesheet" href="{% static 'theme/scss/main.scss' %}" media="screen, projection" type="text/x-scss" />
<!-- ICONS -->
<link rel="stylesheet" href="{% static "theme/lib/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "theme/lib/css/bootstrap-social.css" %}">
<!-- ENDTHEME -->
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52125807-1', 'dotafarm.com');
  ga('send', 'pageview');

</script>

</head>

<body id="{% block body_id %}body{% endblock %}">

<div class="container wrapper">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle Navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if settings.SITE_TITLE %}<a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
            {% if settings.SITE_TAGLINE %}<p class="navbar-text visible-lg">{{ settings.SITE_TAGLINE }}</p>{% endif %}
        </div>
        <div class="navbar-collapse collapse">
            {% search_form %}
            {% page_menu "pages/menus/dropdown.html" %}
        </div>
    </div>

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}

<div class="row">
    <div class="col-md-12">

        <p class="icons-panel-top pull-right">
        <a class="btn btn-social-icon btn-pinterest" href="http://www.pinterest.com/dotaf/dota-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8/" target="_blank">
            <i class="fa fa-pinterest"></i>
        </a>
        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/dotafarmcom" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/102234147465882533492?rel=author" target="_blank">
            <i class="fa fa-google-plus"></i>
        </a>
        </p>

        <h1 class="no-top-margin">{% block title %}{% endblock %}</h1>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="adsense-header" >
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- header responsive -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3051779384376799"
                 data-ad-slot="3921834667"
                 data-ad-format="horizontal"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>

<ul class="breadcrumb" itemprop="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>


{% block base %}

<div class="row">

    <div class="col-md-2 left">
        {% block left_panel %}
        <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
        {% endblock %}
        <div class="adsense-left">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- left panel -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3051779384376799"
                 data-ad-slot="5728141861"
                 data-ad-format="vertical"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

    <div class="col-md-7 middle">
        {% block main %}{% endblock %}
    </div>

    <div class="col-md-3 right">
        {% nevercache %}
        {% include "includes/user_panel.html" %}
        {% endnevercache %}
        <div class="adsense-right">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- right responsive -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3051779384376799"
                 data-ad-slot="1839985862"
                 data-ad-format="rectangle"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                {% block right_panel %}
                {% ifinstalled mezzanine.twitter %}
                {% include "twitter/tweets.html" %}
                {% endifinstalled %}
                {% endblock %}
            </div>
        </div>
    </div>

</div>

{% endblock %}

</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="adsense-footer">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- bottom responsive -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3051779384376799"
                     data-ad-slot="5258967063"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>

<div class="container wrapper topmargin">
    <footer>
        {% page_menu "pages/menus/footer.html" %}

        <div class="nav-footer">
                <p class="site-info bottom-links text-center">

                <!-- Rating@Mail.ru counter -->
                <script type="text/javascript">
                var _tmr = _tmr || [];
                _tmr.push({id: "2540817", type: "pageView", start: (new Date()).getTime()});
                (function (d, w) {
                   var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
                   ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
                   var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
                   if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
                })(document, window);
                </script><noscript><div style="position:absolute;left:-10000px;">
                <img src="//top-fwz1.mail.ru/counter?id=2540817;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
                </div></noscript>
                <!-- //Rating@Mail.ru counter -->
                         
                <!-- Rating@Mail.ru logo -->
                <a href="http://top.mail.ru/jump?from=2540817">
                <img src="//top-fwz1.mail.ru/counter?id=2540817;t=283;l=1" 
                style="border:0;" height="31" width="38" alt="Рейтинг@Mail.ru" /></a>
                <!-- //Rating@Mail.ru logo -->

                <span class="separator">|</span>

                <!--LiveInternet counter--><script type="text/javascript"><!--
                document.write("<a href='//www.liveinternet.ru/click' "+
                "target=_blank><img src='//counter.yadro.ru/hit?t22.6;r"+
                escape(document.referrer)+((typeof(screen)=="undefined")?"":
                ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                ";"+Math.random()+
                "' alt='' title='LiveInternet: number of pageviews for 24 hours,"+
                " of visitors for 24 hours and for today is shown' "+
                "border='0' width='88' height='31'><\/a>")
                //--></script><!--/LiveInternet-->

                <span class="separator">|</span>
                <!-- begin of Top100 code -->

                <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3034077"></script>
                <noscript>
                <a href="http://top100.rambler.ru/navi/3034077/">
                <img src="http://counter.rambler.ru/top100.cnt?3034077" alt="Rambler's Top100" border="0" />
                </a>
                </noscript>
                <!-- end of Top100 code -->
                <span class="separator">|</span>
                <a href="http://www.gamedev.ru/top/"><img src="http://top.gamedev.ru/img/?id=454" width="88" height="31" style="border: 0;" alt="Топ Разработка игр" /></a>
                <span class="separator">|</span>
                <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=25588487&amp;from=informer"
                target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/25588487/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:25588487,lang:'ru'});return false}catch(e){}"/></a>
                <!-- /Yandex.Metrika informer -->

                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter25588487 = new Ya.Metrika({id:25588487,
                                    clickmap:true,
                                    trackLinks:true,
                                    accurateTrackBounce:true});
                        } catch(e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
                </script>
                <noscript><div><img src="//mc.yandex.ru/watch/25588487" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->

                <span class="separator">|</span>

                <!-- Top100 -->
                <a href="http://www.hi-man.ru/in.php?id=635096" target="_blank"><img border="0" src="http://www.hi-man.ru/site/hi-man.gif" alt="Каталог ссылок, Top 100." width="88" height="31"></a>
                <!-- Top100 -->

                <span class="separator">|</span>

                <!-- HotLog -->
                <span id="hotlog_counter"></span>
                <span id="hotlog_dyn"></span>
                <script type="text/javascript"> var hot_s = document.createElement('script');
                hot_s.type = 'text/javascript'; hot_s.async = true;
                hot_s.src = 'http://js.hotlog.ru/dcounter/2399017.js';
                hot_d = document.getElementById('hotlog_dyn');
                hot_d.appendChild(hot_s);
                </script>
                <noscript>
                <a href="http://click.hotlog.ru/?2399017" target="_blank">
                <img src="http://hit6.hotlog.ru/cgi-bin/hotlog/count?s=2399017&im=455" border="0" 
                title="HotLog" alt="HotLog"></a>
                </noscript>
                <!-- /HotLog -->
                
                
                
                
                </p>
        </div>
    </footer>
</div>

{% include "includes/footer_scripts.html" %}
<script type="text/javascript" src="{% static "theme/js/main.js" %}"></script>

</body>
</html>
