@import "compass";
@import "variables";
img {
    max-width: 100%;
}

body {
    background: url(../images/bg.jpg) no-repeat center top fixed;
}

.wrapper {
    background-color:rgba(0,0,0,0.6);
    border: 1px solid $gray-darker;
    padding: 15px;
}

footer {
    background-color:rgba(0,0,0,0.6);
    border: 1px solid $gray-dark;
    margin-top: 0;
    padding: 0px 0 30px 0;
}

.topmargin {
    margin-top: 15px;
}

/* MEZZANINE FIXES */

body {
    padding-top: 15px;
}

.tree .active > a {
    background-color: $gray;
}

.form-actions {
    #background-color: inherit;
    background-color:rgba(0,0,0,0.6);
    border: 1px solid $gray-darker;
    padding: 20px;
    margin-bottom: 15px;
    @include border-radius(5px)
}

.nav > li > a.dropdown-toggle:hover {
    background-color: inherit;
    border-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

/* GOOGLE SHARE */

.row .col-md-7.middle .google-share div {
    vertical-align: middle !important;
}

.row .col-md-7.middle .pinterest-share a {
    vertical-align: middle!important;
}
